<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Frontend</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#" style="margin-bottom: 20px; display: block;">Bilbo GS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('flight') }}">Control Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cameras') }}">Camera Stream</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{url_for('about')}}">About</a>
            </li>
        </ul>
      </nav>
      <div class="content">
        <h3 class="page-title">About Page</h3>
        <p class="about-text">
            This project is designed to develop an AI model capable of interacting with the real environment.
            The primary goal is to integrate the system with a Jetson Nano, enabling intelligent, real-time decision-making.
        </p>
        <p class="about-text">
            The ultimate objective is to create an autonomous navigation and surveillance robot that can be adapted for various applications.
        </p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>