<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h3>Bilbo Flight Server</h3>
        <nav>
            <a href="/">Home</a> | <a href="/test">Testing</a> | <a href="/about">About</a>
        </nav>
    </header>
        {% block content %}
        {% endblock %}
    <footer>
        <p>&copy; 2025 My Website. All rights reserved.</p>
    </footer>
</body>
</html>