/* General Body Styling */
body {
    display: flex;
    font-family: monospace, sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #dbe5ee;
    padding: 15px;
    position: fixed;
}

.sidebar .nav-item .nav-link {
    padding: 10px;
    color: rgb(69, 72, 72);
    font-size: 16px;
}

.sidebar .nav-item .nav-link.active {
    color: #0092e0;
}

.sidebar .nav-item .nav-link:hover {
    background-color: #c6d3df;
    border-radius: 5px;
}

.sidebar .nav-item:first-child .nav-link {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    display: block;
    font-family: monospace;
}

/* Main Content Styling */
.content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
}

/* Title Styling */
.page-title {
    padding-bottom: 2rem;
    color: rgb(33, 29, 29);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 40px;
}

/* Camera Box Styling */
.camera-box {
    width: 100%;
    max-width: 500px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 10px;
}

/* Grid Layout */
.row.gtr-uniform {
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
}

.col-4 {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

/* Centered Title */
.about-title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Paragraph Styling */
.about-text {
    margin-left: 2%;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Segoe UI';
}
