<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilbo Ground Station</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#" style="margin-bottom: 20px; display: block;">Bilbo GS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cameras') }}">Camera Stream</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
        </ul>
    </nav>
    
    <div class="content">
    <h3 class="page-title">Home Page</h3>
        <div style="margin: 2%; padding-top: 7px;">
            <div class="table-wrapper">
                <table class="alt">
                    <tbody>
                        <tr class="about-text">
                            <td>OS: </td>
                            <td>{{ os_name }}</td>
                        </tr>            
                        <tr class="about-text">
                            <td>Directory: </td>
                            <td>{{ current_dir }}</td>
                        </tr>
                        <tr class="about-text">
                            <td>Hostname: </td>
                            <td>{{ hostname }}</td>
                        </tr>
                        <!-- <tr>
                            <th>Serial Status: </th>
                            <td>{{ serial_status }}</td>
                        </tr> -->
                        <tr class="about-text">
                            <td>AP Status: </td>
                            <td>{{ AP_status }}</td>
                        </tr>
                        <tr class="about-text">
                            <td>Connections: </td>
                            <td>{{ device_connection }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="about-text">Temperature: <span id="temp" class="sensor-value">--</span> °C</div>
        <div class="about-text">Humidity: <span id="hum" class="sensor-value">--</span> %</div>
        <div class="about-text">Pressure: <span id="press" class="sensor-value">--</span> hPa</div>
    
        <script>
            var socket = io.connect("http://" + document.domain + ":" + location.port);
    
            socket.on("esp32_data", function (data) {
                console.log("Received data:", data);
                
                if (data.TEMP) {
                    document.getElementById("temp").innerText = data.TEMP;
                }
                if (data.HUM) {
                    document.getElementById("hum").innerText = data.HUM;
                }
                if (data.PRESS) {
                    document.getElementById("press").innerText = data.PRESS;
                }
            });
        </script>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
