<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESP32 Sensor Dashboard</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <nav class="sidebar">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link disabled" href="#" style="margin-bottom: 20px; display: block;">Bilbo GS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('sensor_data') }}">Flight</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cameras') }}">Camera Stream</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
            </li>
        </ul>
    </nav>
    <h2>Real-Time Sensor Data</h2>
    <p>Pressure: <span id="pressure">--</span> hPa</p>
    <p>Altitude: <span id="altitude">--</span> m</p>

    <script>
        var socket = io.connect("http://" + window.location.hostname + ":5000");

        socket.on("sensor_update", function (data) {
            console.log("Received:", data);
            document.getElementById("pressure").innerText = data.pressure + " hPa";
            document.getElementById("altitude").innerText = data.altitude + " m";
        });
    </script>
</body>
</html>
